* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

aside {
  margin-left: 249px;
  width: 245px;
}

.logoig {
  margin-top: 45px;
}

.nav_frames {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: left;
  margin-top: 45px;
}

.frames {
  display: flex;
  align-items: center;
  gap: 10px;
}

.frames > a {
  color: black;
}

main {
  background-color: #fafafa;
}

.feedIG {
  display: flex;
  gap: 50px;
  margin-left: 60px;
  margin-top: 72px;
  color: #262626;
}

.infoTerry {
  display: flex;
  gap: 29px;
  flex-direction: column;
  margin-top: 17px;
  margin-left: 60px;
  align-items: left;
}

.headProfile {
  display: flex;
  gap: 20px;
}

.stadistics {
  display: flex;
  gap: 35px;
}

h2 {
  font-weight: normal;
}

.followbutton {
  border-radius: 5px;
  background-color: #0095f6;
  color: white;
  /* display: inline-block; */
  font-weight: bold;
  border: none;
  padding: 7px 28px;
  /* text-align: center; */
}

.featured {
  display: flex;
  gap: 60px;
  margin-top: 60px;
  margin-left: 70px;
  color: #262626;
  font-size: 13px;
}

.faturedTop {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

hr {
  border: none;
  border-bottom: 1px solid lightgray;
  margin-top: 55px;
}

.iconsList {
  display: flex;
  gap: 63px;
  justify-content: left;
  flex-direction: row;
  margin-left: 170px;
  /* padding-top: 20px; */
  font-size: 12px;
}

a {
  color: grey;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* .photos > img {
  border: 14px solid white;
} */
.mphoto {
  border: 14px solid white;
}

.bottomPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.bottom1 {
  display: flex;
  gap: 16px;
  font-size: 12px;
  margin-left: 140px;
}

.bottom2 {
  display: flex;
  gap: 15px;
  color: grey;
  margin-left: 137px;
  font-size: 12px;
}

.lenguageSelect {
  border: none;
  outline: none;
  color: grey;
  margin-bottom: 30px;
  font-size: 12px;
}

/* .icons > a {
  padding-top: 20px;
} */

.icons {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* hovers  */
.frames :hover {
  color: lightgray;
}

.iconsList :hover {
  color: black;
  border-top: 1px solid black;
}
.icons :hover {
  border-top: none;
}

.bottomPage :hover {
  color: black;
}

/* media queries  */
@media (max-width: 800px) {
  .nav_frames {
    flex-direction: row;
    position: relative;
    font-size: 14px;
    gap: 5px;
    margin: 0;
  }
}
@media (max-width: 800px) {
  aside {
    margin: 10px;
  }
}
@media (max-width: 800px) {
  .logoig {
    position: relative;
  }
}
@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .bottom1,
  .bottom2 {
    margin-left: 15px;
  }
}
@media (max-width: 800px) {
  .photos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .mphoto {
    border: 5px solid white;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 800px) {
  .iconsList {
    justify-content: center;
    margin: 0;
  }
}
